.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  order: 0;
  pointer-events: none;
  width: 290px;
  padding: 3% 0% 2% 0%;
}

.App-link {
  color: #61dafb;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  width: 500px;
  border-radius: 5%;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar{
  /* height: 5vmin; */
  width: 290px;
  pointer-events: none;
  padding: 5% 0% 5% 0%;
}

.playline-text-top{
  color: #404040;
  font-family: "SF Pro Display Bold", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.playline-text-bottom{
  font-family: "SF Pro Display Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7f7f7f;
}

.links{
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display Light", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5%;
  margin-bottom: 10%;
}

.links a{
  color: #A1A1A1;
  border-right: 1px solid #A1A1A1;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 1px;
  text-decoration: none;
}

.links a:hover{
  font-size: 16px;
}

.links div:last-of-type a {
  border-right: unset;
}

.player-points-text {
  border-bottom: #A1A1A1;
  border-top: #A1A1A1;
  display: flex;
  flex-direction: column;
  border-width: 10px;
  font-size: 12px;
  color: #A1A1A1;
}

hr {
  width: 65%;
  border-top: 1px solid #A1A1A1;
}

hr.horizontalline-bottom{
  border-top: 1px solid lightgray;
}

.download-buttons{
  display: flex;
}

.download-btn{
  width: 100px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.downladapp-text{
  margin-top: 10px;
  color: #7f7f7f;
}

@media (max-width: 670px){
  .links{
    display: flex;
    flex-direction: column;
  }
  
  .links a{
    color: #A1A1A1;
    border-right: 0px solid #A1A1A1;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    text-decoration: none;
  }
  
  .links div:last-of-type a {
    border-right: unset;
  }
}

.activity-btns{
  display: flex;
}

.btn{
  display: flex;
  border-radius: 50px;
  text-transform: uppercase;
  margin: 10px;
  font: bold 14px Arial;
  text-decoration: none;
  background-color: #ffffff;
  color: #7f7f7f;
  padding: 6px 20px 6px 10px;
  border: 1px medium #A1A1A1;
  align-items: center;
}

.icon{
  margin-right: 10px;
  margin-left: 2px;
}

.notifyme-btn-icon{
  content: url(./assets/icons/notify-me.svg);
}

.deposit-btn-icon{
  content: url(./assets/icons/money-bag.svg);
}

.player-points{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


.points, 
.players {
  display: flex;
  color: #A1A1A1;
  text-transform: uppercase;
  align-items: stretch;
  margin-bottom: 10px;
}

.points{
  width: 420px;
}

.point-val{
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  border: medium solid #dad7d7;
}

.player-img{
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-left: -10px;
  margin-right: -10px;
  z-index: 1;
  border: 3px solid #FFFFFF;
  background: #F5F5F5;
}

.point{
  margin-right: 5px;
  margin-left: 5px;
  width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5.points-text,
h5.player-name-text{
  margin: 3px 0px 5px 0px;
}

h5.player-name-text{
  width: 60px;
  font-size: 10px;
}

h5.points-text{
  font-size: 11px;
}

/* @media (max-width: 500px){
  
  .container{
    width: 300px;
  }

  .progressbar{
    width: 225px;
  }

  
} */

@media (max-width: 550px){
  .container{
    width: 350px;
  }

  .App-logo{
    width: 250px;
  }

  .player-img{
    border-radius: 50%;
    border: thick solid #ffffff;
    width: 45px;
    height: 45px;
    margin-left: -8px;
    margin-right: -8px;
    background: #F5F5F5;
  }

  .progressbar{
    width: 230px;
  }

  .points{
    width: 315px;
  }

  .point{
    margin-right: 2px;
    margin-left: 2px;
    width: 40px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .point-val{
    font-size: 10px;
    padding: 3px 2px 5px 2px;
    width: 16px;
    height: 12px;
  }

  h5.points-text{
    font-size: 8px;
  }

  h5.player-name-text{
    margin: 3px 0px 5px 0px;
    font-size: 8px;
    width: 45px;
    word-wrap: break-word;
  }
}
